*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

nav {
    width: 100%;
    background-color: rgb(55, 0, 128);
    color: white;
    padding: 1rem 1.5rem;
}

nav .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .toolbar h5 {
    font-size: 1.25rem;
}

nav .toolbar h6 {
    font-size: 1rem;
}

nav .toolbar > div {
    display: flex;
    align-items: center;
}

nav .toolbar .search {
    position: relative;
    margin-left: 1rem;
}

nav .toolbar .search .searchIcon {
    position: absolute;
    top: 12.5%;
    padding-left: .25srem;
}

nav .toolbar .search #search-bar {
    background-color: rgba(126, 71, 197, 0.658);
    color: lightgray;
    padding: .5rem .25rem .5rem 2rem;
    border: none;
    border-radius: 5px;
}

/* Main Contents */
main {
    width: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 0;
}

/* Styling the Map */
.mapContainer {
    /* background-color: blue; */
    height: 85vh;
    width: 100%;
}


/* Styling the List Component */
.listContainer {
    /* background-color: lightblue; */
    padding: .5rem 1rem;
    height: 90vh;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 1rem;
}
.listContainer > h4 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.listContainer .forms {
    display: flex;
    gap: .5rem;
}

.listContainer .forms legend {
    color: rgba(0, 0, 0, 0.678);
    margin-bottom: .5rem;
}

.listContainer .forms .formControl select {
    /* width: 7rem; */
    padding: 0 0 .15rem 0;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

/* Place Details*/
.listContainer .placeDisplayer {
    background-color: lightblue;
    display: grid;
    row-gap: 1rem;
}

.listContainer .placeDisplayer .placeCard {
    color: darkblue;
}


@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding: 0.5rem 1rem;
    }

    .listContainer {
        padding: .5rem .5rem;
    }
}